@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #D8D9DA;
  margin: 0;
}
body p {
  font-size: 1.3rem;
}

.head {
  text-align: center;
  margin-top: 30px;
}

.head img {
  width: 25%;
  border-style: solid;
  border-color: #61677A;
  border-width: 3px;
  border-radius: 15px;
}

.head p {
  margin: 0 20% 0 20%;
}

.works {
  background-color: #FFF6E0;
  margin: 0 20% 0 20%;
  border-radius: 15px;
  border-style: solid;
  margin-top: 50px;
  border-color: #61677A;
}

.projectscontainer {
  background-color: #FFF6E0;
  border-top: solid;
  border-bottom: solid;
  margin: 30px 0 30px 0;
  border-color: #61677A;
}

.projectscontainer h2 {
  font-size: 1.7rem;
}

.projectscontainer img {
  border-style: solid;
  border-radius: 15px;
  border-color: #61677A;
}

.project1grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.project1 img {
  width: 90%;
}
.project1 p {
  margin: auto 0;
}
.project2 p {
  margin: auto 0;
}

.project2grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.project2 img {
  width: 65%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 40px;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer p {
  margin-right: 25%;
}

@media (max-width:786px) {
  body p {
    font-size: 0.85rem;
  }

  .head img {
    width: 75%;
  }

  .head h1 {
    font-size: 1.5rem;
  }

  .head p {
    margin: 10%;
  }

  .works {
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0 10px 0;
  }

  .project1grid {
    display: block;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  .project2grid {
    display: flex;
    flex-flow: column;
    padding: 0 20px 0 20px;
    text-align: center;
  }
  .project2 img {
    order: 1;
  }

  .project2grid p {
    margin-bottom: 30px;
    order: 2;
  }

  .footer p {
    margin-right: 10%;
  }
}